<% @follow.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
      <p>フォローユーザー</p>
      <p><%= profile_img(user) %></p>
      <p><%= user.email %></p>
      <%= link_to '戻る', users_path %>
    </div>
<% end %>
